
<%unless @sports.empty?%>
<table>
	<tr>
		<td>Name</td>
		<td>Type</td>
	</tr>
	<tbody>
	<%@sports.each do |sport|%>
	<tr>
		<td><%=sport.name%></td>
		<td><%=sport.sport_type%></td>
		<br/>
	</tr>
	<%end%>	
	</tbody>	
</table>
<%else%>
<b>Still,no records available</b>
<%end%>

